<!--{* data/Smarty/templates/default/shopping/payment.tpl からのコピー開始 *}-->
<section id="undercolumn">

    <h2 class="title"><!--{$tpl_title|h}--></h2>

    <form name="form1" id="form1" method="post" action="<!--{$tpl_url}-->" autocomplete="off">
        <input type="hidden" name="mode" value="register" />
        <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->" />
        <input type="hidden" name="uniqid" value="<!--{$tpl_uniqid}-->" />
<!--{* data/Smarty/templates/default/shopping/payment.tpl からのコピー終了 *}-->

		<!--{if $formtpl != ""}-->
		<!--{include file=$formtpl}-->
		<!--{/if}-->

<!--{* data/Smarty/templates/default/shopping/payment.tpl からのコピー開始 *}-->
    </form>
</section>
<!--{* data/Smarty/templates/default/shopping/payment.tpl からのコピー終了 *}-->
