<th>
    <input type="checkbox" onclick="fnAllCheck(this, 'input[name=sln_commit_order_id[]]')" id="sln_commit_check" name="sln_commit_check" />
    <label for="sln_commit_check">一括売上</label>
</th>

<th>
    <input type="checkbox" onclick="fnAllCheck(this, 'input[name=sln_cancel_order_id[]]')" id="sln_cancel_check" name="sln_cancel_check" />
    <label for="sln_cancel_check">一括取消</label>
</th>
