<a class="btn-normal" onclick="fnModeSubmit('sln_commit_all','',''); return false;"
        href="javascript:;"><span>決済一括売上</span>
</a>
<a class="btn-normal" onclick="fnModeSubmit('sln_cancel_all','',''); return false;"
        href="javascript:;"><span>決済一括取消</span>
</a>
