<col width="8%" />
<col width="4%" />
<col width="10%" />
<col width="7%" />
<col width="9%" />
<col width="9%" />
<col width="9%" />
<col width="9%" />
<col width="4%" />
<col width="9%" />
<col width="4%" />
<col width="9%" />
<col width="9%" />
<!--{if $sln_error}-->
<tr>
	<td colspan="13" style="border: none;">
	   <span class="attention">※決済操作でエラーが発生しました。</span>
	   <br/>
	   <span class="attention"><!--{$sln_error|nl2br}--></span>
	</td>
</tr>
<!--{/if}-->
