@charset "utf-8";

.clear-both {
			clear: both;
}

.text-right {
			text-align: right;
}

.page-top {
			width: 952px;
			margin-top: 43px;
			text-align: right;
			clear: both;
			font-family: arial, "MS UI Gothic", sans-serif;
}

.shopinfo a {
			text-decoration: none;
			color: #000;
}

.shopinfo a:hover {
			text-decoration: underline;
			color: #CCCCCC;
}
