@charset "utf-8";

.contents-wrapper {
			width: 952px; /* 横幅Maxのラッパー */
			margin: 24px auto 0 auto;
			clear: both;
}

.contents-title {
			width: 746px;
}

.contents-title2 {
			width: 746px;
			margin-top: 14px;
}

.contents-title3 {
			width: 724px;
			margin-top: 14px;
			float: right;
}

.contents-title4 {
			width: 583px;
			margin-top: 14px;
}

.contents-box {
			margin-top: 22px;
			width: 583px;
}

.shopinfo {
			width: 724px;
			float: right;
}

.shopinfo div.left-container {
			width: 258px;
			float: left;
}

.shopinfo div.left-container div.container {
			width: 258px;
			border-top: 1px solid #FF0000;
			padding-top: 10px;
}
.shopinfo ul {
			width: 130px;
			float: right;
}

.shopinfo li {
			width: 130px;
			list-style-type: none;
			padding-bottom: 10px;
}

.shopinfo dd {
			margin-bottom: 20px;
}

.shopinfo dt {
			font-weight: bold;
			margin-top: 16px;
}

.shopinfo dt.top {
			margin: 0;
}

.right-block1 {
			width: 129px;
			float: right;
}

#footer p {
			margin: 0 0 4px 188px;
			padding-top: 27px;
			font-family: arial, sans-serif;
			font-size: 12px;
}
