@charset:"UTF-8";

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:12px;
	line-height: 1.5em;
	min-width: 1100px; /* overflow時のbackground対処 */
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}
img {vertical-align: bottom;}

/*--------------------
	header
--------------------*/
header {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding-top: 40px;
}
header h1 {
	float: left;
}
header #nav {
	float: right;
	margin-top: 3px;
}
header #nav li {
	float: left;
	margin-left: 23px;
	border-bottom: 1px solid #fff;
}
header #nav li.on_page ,
header #nav li:hover {
	border-bottom: 1px solid #fb8181;
}

/*--------------------
	content
--------------------*/
#content {
	width: 1000px;
	margin: 0 auto;
}

/*--------------------
	side
--------------------*/
#side {
	width: 282px;
	float: right;
}
#side .side_btn {
	margin-top: 30px;
}
#side .side_btn li {
	margin-bottom: 10px;
}
#side .side_btn li#no01 {
	background: url("../images/common/btn_schedule_ov.jpg") no-repeat left top;
}
#side .side_btn li#no02 {
	background: url("../images/common/btn_shopinfo_ov.jpg") no-repeat left top;
}
#side a img:hover {
	opacity: 0.0;
}

/*--------------------
	menu
--------------------*/
h4.menu_cate {
	border-left: 5px solid #ee8589;
	padding-left: 10px;
	text-align: left;
	font-size: 15px;
	margin-bottom: 10px;
}
h4.menu_cate.mg_l5 {
	margin-left: 5px;
}
.m_list {
	width: 635px;
	margin: 0 auto;
	margin-bottom: 28px;
}
.m_list li {
	float: left;
	text-align: center;
	width: 158px;
	margin: 0 0 35px 80px;
}
p.bg_img {
	display: block;
	width: 158px;
	height: 186px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
.menu a,
.m_list a {
	text-decoration:none;
	color:#000;
}
.menu a:hover ,
.m_list a:hover {	text-decoration:underline;}
.menu a:hover p.bg_img ,
.m_list a:hover p.bg_img { opacity:0.7;}
.menu_datail {	margin:40px 0 100px;}
.news_datail {	margin:20px 0 100px;}
.menu_datail .menu_l {
	width:300px;
	float:left;
	padding:0 15px 15px 0;
	text-align:center;
}
.menu_datail .menu_l img { max-width:100%;}
.menu_datail h4.single_title {
	float:right;
	width:375px;
}
h4.single_title {
	font-size:25px;
	border-bottom:2px dashed #fb8181;
	letter-spacing:0.05em;
	padding:0 5px 5px;
	margin-bottom:20px;
}
h4.single_title span {
	display:block;
	font-size:16px;
	text-align:right;
	margin:5px 0 0;
}
.news_list {
}
.news_list ul {
}
.news_list li {
	border-bottom:2px dashed #fb8181;
	padding:0 5px;
	margin:0 0 25px;
}
.news_list a { color:#333;}
.news_list p {
	font-size:18px;
	font-weight:bold;
}
.news_list span {
	display:block;
	font-size:12px;
	text-align:right;
	margin:2px 0 5px;
}
.wp-pagenavi {
	margin:50px 0 100px;
	text-align:center;
}
.wp-pagenavi {}


/*--------------------
	footer
--------------------*/
footer {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 40px;
}
footer .foot_deta {
	float: left;
	margin-left: 30px;
}
footer .foot_deta p {
	font-size: 12px;
	line-height: 1.3em;
}
footer .foot_deta p span {
	font-size: 18px;
	font-weight: bold;
}
footer .foot_deta p.shop_name {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}