<!--{* data/Smarty/templates/mobile/shopping/payment.tpl からのコピー開始 *}-->
    <form name="form1" id="form1" method="post" action="<!--{$tpl_url}-->">
        <input type="hidden" name="<!--{$smarty.const.TRANSACTION_ID_NAME}-->" value="<!--{$transactionid}-->">
        <input type="hidden" name="mode" value="next">
        <input type="hidden" name="uniqid" value="<!--{$tpl_uniqid}-->">
<!--{* data/Smarty/templates/mobile/shopping/payment.tpl からのコピー終了 *}-->

	<!--{if $formtpl != ""}-->
	<!--{include file=$formtpl}-->
	<!--{/if}-->

<!--{* data/Smarty/templates/mobile/shopping/payment.tpl からのコピー開始 *}-->
    </form>
<!--{* data/Smarty/templates/mobile/shopping/payment.tpl からのコピー終了 *}-->
