@charset:"UTF-8";
/* ここからTOP以外共通 */
.side_area {
	width: 236px;
	float: left;
}
#content .reccomend {
	margin-top: 2px;
	float: none;
}
#content .reccomend h3 {
	margin-bottom: 30px;
}
#content .reccomend .slide li p {
	text-align: center;
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 12px;
}
#content .facebook {
	float: none;
}
#main_area {
	float: right;
	width: 760px;
}
/* ここまでTOP以外共通 */
#content h3 {
	margin-bottom: 15px;
}
.ttl_cate {
	margin-top: 20px;
}
.cate_list li {
	font-size: 14px;
	cursor: pointer;
	border-bottom: 1px solid #d1d1d1;
}
.cate_list li a {
	display: block;
	padding: 16px 0 16px 20px;
}
.cate_list li:first-child {
	border-top: 1px solid #d1d1d1;
}
.ttl_cate .red_rarr {
	color: #e60012;
	padding-right: 15px;
	font-size: 10px;
	vertical-align: top;
}
.cate_list li a {
	text-decoration: none;
	color: #434343;
}

#main_area .greeting {
	width: 730px;
	margin: 0 auto;
}
#main_area .greeting h4 {
 	font-family:   "ヒラギノ明朝 ProN W6",   "HiraMinProN-W6",   "HG明朝E",   "ＭＳ Ｐ明朝",   "MS PMincho",   "MS 明朝",   serif;
	font-size: 20px;
	color: #434343;
	margin-bottom: 30px;
}
#main_area .greeting .img_catch {
	margin-bottom: 25px;
}
#main_area .greeting .txt_deta {
	font-size: 13px;
	line-height: 2em;
	color: #434343;
	margin-bottom: 20px;
}
#main_area .greeting .reader {
	font-size: 13px;
	line-height: 2em;
	color: #434343;
	margin-bottom: 20px;
	width: 95px;
	margin-left: auto;
}
#about_area .hide {
	display: none;
}

/* outline */
.outline {
	margin-left: 12px;
}
.outline h4 {
	font-size: 20px;
	color: #434343;
	margin-bottom: 20px;
}
.outline table {
	font-size: 13px;
	border-collapse: collapse;
	border: 1px solid #000000;
	margin-bottom: 100px;
}
.outline table th {
	background: #f3f3df;
	color: #434343;
	border: 1px solid #000000;
	font-weight: normal;
	padding: 10px 45px 10px 17px;
}
.outline table td {
	width: 550px;
	background: #fff;
	color: #434343;
	border: 1px solid #000000;
	padding: 0 0 10px 17px;
	line-height: 1.385em;
}

.outline table dl dt {
	float: left;
}
.outline table dl dd {
	padding-left: 65px;
	margin-bottom: 15px;
}
.outline table dl dd a {
	color: #434343;
}

/* history */
.history {
	margin-left: 12px;
}
.history h4 {
	font-size: 20px;
	color: #434343;
	margin-bottom: 20px;
}
.history table {
	font-size: 13px;
	border-collapse: collapse;
	border: 1px solid #000000;
	margin-bottom: 100px;
}
.history table th {
	background: #f3f3df;
	color: #434343;
	border: 1px solid #000000;
	font-weight: normal;
	padding: 10px 35px 10px 17px;
}
.history table td {
	width: 550px;
	background: #fff;
	color: #434343;
	border: 1px solid #000000;
	padding: 0 0 10px 17px;
	line-height: 1.385em;
}

.history table dl dt {
	float: left;
}
.history table dl dd {
	padding-left: 65px;
	margin-bottom: 15px;
}

/* story */
.story {
	margin-left: 12px;
}
.story h4 {
	font-size: 20px;
	color: #434343;
	margin-bottom: 20px;
}
.story .st_left {
	width: 200px;
	float: left;
}
.story .st_left img {
	margin-bottom: 10px;
}
.story .txt_story {
	float: left;
	width: 500px;
	margin-left: 40px;
}
.story .txt_story h5 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.story .txt_story h5 span {
	border-bottom: 1px solid #000;
}
.story .txt_story p {
	font-size: 13px;
	line-height: 2em;
	margin-bottom: 40px;
}

/* access */
.access {
	width:750px;
	margin: 0 auto 80px;
}
.access h4 {
	font-size: 20px;
	color: #434343;
	margin-bottom: 20px;
}
.access .ac_left {
	width: 200px;
	float: left;
}
.access .ac_left a {
	color:#000;
	text-align:center;
	display:block;
	margin-bottom:10px;
}
.access .txt_access {
	float: left;
	width: 500px;
	margin-left: 40px;
}
.access .txt_access h5 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.access .txt_access .ac_deta {
}
.access .txt_access .ac_deta p {
	float: left;
	font-size: 13px;
	line-height: 1.4em;
	margin-bottom: 30px;
	color: #434343;
}
.access .txt_access .ac_deta a {
	display: block;
	float: right;
}
.access .txt_access .ac_deta.parlor a {
	margin-top: 10px;
}