@charset:"UTF-8";
/* ここからTOP以外共通 */
.side_area {
	width: 236px;
	float: left;
}
#content .facebook {
	float: none;
}
#main_area {
	float: right;
}
/* ここまでTOP以外共通 */

#main_area .ttl_cate {
	margin: 20px 0 30px 0;
	border-bottom: 1px solid #db1518;
	padding-bottom: 20px;
}
#main_area .ttl_cate h4 {
	float: left;
	margin-left: 30px;
}
#main_area .cate_list {
	margin-left: 100px;
	float: left;
}
#main_area .cate_list li {
	float: left;
	font-size: 13px;
	margin-right: 30px;
}
#main_area .ttl_cate .red_rarr {
	color: #e60012;
	padding-right: 8px;
}

#content nav.gift_menu h3 {
	float: left;
}

#content nav.gift_menu .cakes_list {
	float: right;
	margin-top: 4px;
}
#content nav.gift_menu .cakes_list a {
	color: #535353;
	font-size: 12px;
}

#content .gift_menu ul {
	width: 690px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#content .gift_menu ul li:first-child ,
#content .gift_menu ul li:nth-child(4n+1) {
	margin-left: 0;
}
#content .gift_menu ul li {
	width: 134px;
	float: left;
	margin-left: 50px;
	margin-bottom:15px;
}
#content .gift_menu ul li a {
	text-decoration: none;
	color: #000;
}
#content .gift_menu ul li p {
	text-align: center;
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 11px;
}

/* detail */
#main_area.detail {
	margin-bottom: 100px;
}
#main_area.detail .ttl_deta {
	width: 740px;
	margin: 42px 0 48px 23px;
}
#main_area.detail h4 {
	font-size: 25px;
	line-height: 1.3em !important;
	float: left;
}
#main_area.detail .his_back {
	float: right;
	margin-top: 3px;
}
#main_area.detail .his_back a {
	color: #000;
	text-decoration: none;
}
#main_area.detail .his_back a span {
	color: #e60012;
	padding-right: 7px;
}
#main_area.detail .detail_area {
	width: 740px;
	margin-left: 23px;
}
#main_area.detail .detail_area .deta_left {
	width:320px;
	float: left;
}
#main_area.detail .detail_area .deta_left img {
	max-width:100%;
}
#main_area.detail .deta_right {
	width: 394px;
	float: right;
}
#main_area.detail .cakes_datail .price {
	background: #f0dcd8;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	line-height: 1.6em;
	padding: 20px 0 15px 25px;
	font-weight: bold;
}
#main_area.detail .attention {
	font-size:11px !important;
	color:#F00 !important;
}
#main_area.detail .caption {
	background: #ffffeb;
	font-size: 14px;
	padding: 20px 15px 65px;
}
#main_area.detail .cakes_datail .notice {
	font-size: 13px;
	padding: 15px 0 0 20px;
	line-height: 1.4em;
}