@charset:"UTF-8";

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:12px;
	line-height: 1.5em;
	min-width: 1100px; /* overflow時のbackground対処 */
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}
img {vertical-align: bottom;}
a img:hover {
	opacity: 0.7;
}

/*--------------------
	header
--------------------*/
header {
	width: 100%;
	-moz-box-shadow: 0 0 5px rgba(113,109,110,0.75);
	-webkit-box-shadow: 0 0 5px rgba(113,109,110,0.75);
	-o-box-shadow: 0 0 5px rgba(113,109,110,0.75);
	-ms-box-shadow: 0 0 5px rgba(113,109,110,0.75);
	box-shadow: 0 0 5px rgba(113,109,110,0.75);
	position: relative;
	z-index: 100;
}
#header {
	width: 1026px;
	margin: 0 auto;
}
#header h1 {
	float: left;
	margin: 34px 102px 0 36px;
}
#header ul.fll a img:hover {
	opacity: 1;
}
#header ul.fll li {
	float: left;
	border-right: 1px solid #d1d1d1;
}
#header ul.fll li:first-child {
	border-left: 1px solid #d1d1d1;
}
#header #head_right {
	float: right;
}
#header .mypage {
	background: #e60012;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
#header .mypage li {
	float: left;
}
#header .mypage li:not(.cart) span {
	border-right: 1px solid #fff;
	padding-right: 20px;
}
#header .mypage li span.txt_min {
	font-size:10px;
}
#header .mypage li a {
	display: block;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	padding: 6px 0 6px 20px;
}
#header .mypage li.cart a {
	width:130px;
	height:20px;
	overflow:hidden;
}
#header .mypage li.cart a span {
	font-size:10px;
	letter-spacing:-0.02em;
}
#header .mypage li.cart a:before {
	content: url("../img/common/icon_cart.png");
	padding-right: 9px;
	vertical-align: middle;
}
#header .guide li {
	float: left;
	margin: 0 13px 0 8px;
}
#header .head_tel {
	margin: 10px 0 0 10px;
}

/*--------------------
	content
--------------------*/
#content {
	width: 1026px;
	margin: 0 auto;
}
#content .facebook {
  margin: 33px 30px 0 0;
  float: left;
}
#content .rec_menu {
	margin-top: 2px;
}

#content .reccomend {
	float: left;
	width:183px;
}

#content .rec_menu h3 {
	margin-bottom: 30px;
}

#content .reccomend .slide {
	margin-left: 50px;
}

#content .reccomend .slide li img {
	max-width:100%;
	display:inline;
}
#content .reccomend .slide li div {
	width:134px;
	text-align:center;
}
#content .reccomend .slide li p {
	text-align: center;
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 12px;
}

#content .reccomend .slide li a {
	color:#000;
	text-decoration:none;
}

/*--------------------
	footer
--------------------*/
footer {
	width:1025px;
	margin:0 auto;
	padding-top: 40px;
}
footer nav ul {
	width: 910px;
	text-align:center;
	margin: 0 auto;
	margin-bottom: 15px;
}
footer nav ul li {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
footer nav ul li a {
	display: block;
	text-decoration: none;
	font-size: 11px;
	color: #000;
	border-right: 1px solid #d1d1d1;
	padding-right: 10px;
	margin-right: 10px;
}
footer nav ul li:first-child a {
	border-left: 1px solid #d1d1d1;
	padding-left: 10px;
}
footer nav ul li:last-child a {
	margin-right: 0;
}
footer .copy {
	width:950px;
	text-align: center;
	font-size: 11px;
	padding-bottom: 20px;
	margin:0 auto;
	float:left;
}
footer .copy p {
	width:890px;
	float:right;
}
footer ul.any_country {
	width:60px;
	float:right;
}
footer ul.any_country li {
	margin-left:5px;
	float:left;
	text-align:right;
}

