@charset:"UTF-8";
#main_area .cate_list {
	margin-left: 100px;
	float: right;
}
#main_area .cate_list li {
	border:none;
}
#main_area .cate_list li a {
	padding:0;
	margin:0;
	color:#000;
	text-decoration:none;
}
#main_area .cate_list li a:hover { opacity:0.7;}
#main_area .ttl_cate .red_rarr {
	color: #e60012;
	padding-right: 8px;
}

#content nav.gift_menu h3 {
	float: left;
}

#content nav.gift_menu .cakes_list {
	float: right;
	margin-top: 4px;
}
#content nav.gift_menu .cakes_list a {
	color: #535353;
	font-size: 12px;
}

#content .gift_menu ul {
	width: 690px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#content .gift_menu ul li:first-child ,
#content .gift_menu ul li:nth-child(4n+1) {
	margin-left: 0;
}
#content .gift_menu ul li {
	width: 134px;
	float: left;
	margin-left: 50px;
	margin-bottom:15px;
}
#content .gift_menu ul li a {
	text-decoration: none;
	color: #000;
}
#content .gift_menu ul li p {
	text-align: center;
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 11px;
}


/* detail */
#main_area.detail {
	margin-bottom: 100px;
	color: #434343;
}
#main_area.detail .ttl_deta {
	width: 740px;
	margin: 42px 0 48px 23px;
}
#main_area.detail h4 {
	font-size: 25px;
	line-height: 1em;
	float: left;
}
#main_area.detail .his_back {
	float: right;
	margin-top: 3px;
}
#main_area.detail .his_back a {
	color: #000;
	text-decoration: none;
}
#main_area.detail .his_back a span {
	color: #e60012;
	padding-right: 7px;
}
#main_area.detail .detail_area {
	width: 740px;
	margin-left: 23px;
}
#main_area.detail .detail_area img {
	float: left;
}
#main_area.detail .deta_right {
	width: 394px;
	float: right;
}
#main_area.detail .gift_datail .price {
	background: #f3f3df;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	line-height: 1.6em;
	padding: 20px 25px;
	font-weight: bold;
}
#main_area.detail .gift_datail .price .left {
	float: left;
}
#main_area.detail .gift_datail .price .btn_cart {
	float: right;
}
#main_area.detail .gift_datail .notice {
	font-size: 13px;
	padding: 15px 0 0 20px;
	line-height: 1.4em;
}
#main_area.detail .gift_datail .price .left p {
	font-size: 20px;
	color: #000;
}
#main_area.detail .gift_datail .price .left .num {
	font-size: 16px;
	color: #434343;
	margin-top: 10px;
}
#main_area.detail .gift_datail .num select {
	vertical-align: text-bottom;
	margin-left: 5px;
	width: 77px;
}
#main_area.detail .gift_datail .info {
	margin-top: 10px;
}
#main_area.detail .gift_datail .info li {
	font-size: 14px;
	border-top: 1px solid #db1518;
	padding: 7px 0 4px 0;
}
#main_area.detail .gift_datail .info li:first-child {
	border-top: none;
}