@charset:"UTF-8";
.other_page,
#main_area {
	width:820px;
	margin:40px auto 85px;
}
.other_page h2 ,
#main_area h4 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 10px;
	background: #e60012;
	padding:5px 10px;
}
/* 個人情報保護方針 */
#privacy h4 {
	margin-bottom: 20px;
}
#privacy h5 {
	font-size: 16px;
	color: #434343;
	margin: 35px 0 15px 5px;
	padding:5px 5px 5px 0;
	border-bottom:1px solid #e60012;
}
#privacy p {
	font-size: 13px;
	line-height: 1.5em;
	padding:0 5px;
}
/* ご利用ガイド */
#guide ul {
	margin-left:50px;
}
#guide h5 {
	font-size: 16px;
	color: #434343;
	margin: 35px 0 15px 5px;
	padding:5px 5px 5px 10px;
	border-left:3px solid #e60012;
}
#guide h6 {
	font-size: 14px;
	margin:15px 0;
	padding:0 20px;
}
#guide p {
	font-size: 13px;
	line-height: 1.5em;
	padding:0 20px;
}

/*  */
.other_page {
	width:820px;
	margin:40px auto 85px;
}
.other_page p {
	font-size: 13px;
	line-height: 1.5em;
	padding:0 5px;
}
.other_page .btn_area {	margin:20px 0;}
.other_page .btn_area .prev_button {
	width:180px;
	line-height:35px;
	background:#CCC;
	text-decoration:none;
	color:#000;
	padding:0 10px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	border-radius: 4px;
}
.other_page .addbtn .submit_button_a {
	line-height:35px;
	background:#e60012;
	text-decoration:none;
	color:#fff;
	padding:0 10px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	border-radius: 4px;
}
.other_page .btn_area .submit_button_a {
	width:180px;
	line-height:35px;
	background:#e60012;
	text-decoration:none;
	color:#fff;
	padding:0 10px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	border-radius: 4px;
}
.other_page .btn_area .submit_button {
	width:180px;
	line-height:35px;
	background:#e60012;
	text-decoration:none;
	color:#fff;
	cursor:pointer;
	border:none;
	padding:0 10px;
	border-radius: 4px;
}
.other_page a {
	color:#000;
	text-decoration:underline;
}
.other_page a:hover { text-decoration:none;}

.other_page .login_area {
	padding-bottom:40px;
}
.other_page h3 {
	font-size: 16px;
	color: #434343;
	margin: 15px 0 15px 5px;
	padding:5px 5px 5px 0;
	border-bottom:1px solid #e60012;
}
.other_page h4 {
	font-size: 14px;
	color: #434343;
	margin:15px 0;
	padding:0 5px;
}
.other_page .login_area .btn_area {	padding:20px 0 0;}
.other_page .login_area dl {
	width:560px;
	margin:0 auto;
}
.other_page .login_area dt {
	width:120px;
	float:left;
	margin:15px 0 5px;
}
.other_page .login_area dd {
	width:320px;
	float:left;
	margin:10px 0 10px;
}
.other_page .login_area input[type="text"],
.other_page .login_area input[type="password"] {
	width:380px;
	height:30px;
	line-height:18px;
	font-size:16px;
	padding:3px !important;
	font-weight:normal;
	margin-bottom:5px;
}
.other_page .login_area .inputbox {
	width:720px;
	margin:15px auto;
	background:#eee;
}
#undercolumn_entry .other_page .kiyaku_text {
	width:95%;
	margin:20px;
}
.other_page .pay_area02 textarea {
	width:95%;
	margin:0 auto;
}
.other_page .mynavi_list li a {	text-decoration:none;}
.other_page .mynavi_list li a:hover { opacity:0.7;}
.other_page .mynavi_list li .red_rarr {
	color:#e60012;
	padding-right:5px;
}
#undercolumn_contact th { vertical-align:top;}


