@charset:"UTF-8";

#content .facebook {
	margin: 33px 30px 0 0;
	float: left;
}

#content .main_v {
	float: left;
	width: 760px;
}

#content .parlor {
	margin-top: 9px;
}

#content nav.cake_menu {
	float: left;
	margin-left: 82px;
	width: 760px;
}

#content nav.cake_menu h3 {
	float: left;
}

#content nav.cake_menu .cakes_list {
	float: right;
	margin-top: 4px;
}
#content nav.cake_menu .cakes_list a {
	color: #535353;
	font-size: 12px;
}

#content .cake_menu ul {
	width: 690px;
	margin: 0 auto;
}

#content .cake_menu ul li {
	width: 134px;
	float: left;
	margin-left: 50px;
	margin-bottom:15px;
}
#content .cake_menu ul li img {
	max-width:100%;
}
#content .cake_menu ul li:nth-child(4n+1) ,
#content .cake_menu ul li:first-child {
	margin-left: 0;
}
#content .cake_menu ul li a {
	text-decoration: none;
	color: #000;
}
#content .cake_menu ul li p {
	text-align: center;
	font-size: 13px;
	line-height: 1.3em;
	margin-top: 11px;
}